joinurl

Hello,

It will be nice to have an implementation of a `joinurl` function
See discussion at https://discourse.julialang.org/t/join-parts-of-a-url-joinpath/12441/12
Pinging @sirex @Nosferican @sbromberger
But I don't know exactly in which package of JuliaWeb org such a function could be.

Maybe an other approach could be to have simply a function named `join` which could take parameters of `URI` type.

Kind regards



HTTP.jl has a URI specific `splitpath` function (handles '?' and '#'): https://github.com/JuliaWeb/HTTP.jl/blob/master/src/URIs.jl#L364
and a `absuri` function (merges the path and query from one URI into another URI): https://github.com/JuliaWeb/HTTP.jl/blob/master/src/URIs.jl#L385

There is also `merge` for modifying any part of a URI: https://github.com/JuliaWeb/HTTP.jl/blob/master/src/URIs.jl#L73

It might make sense to add a python urllib.parse-like `urljoin` function to `HTTP.jl/src/URIs.jl`.

I think `URIs.resolvereference` meets this feature request.

Package: https://github.com/JuliaWeb/URIs.jl

Function documentation: https://docs.juliahub.com/URIs/eec2u/1.5.1/#URIs.resolvereference

```
resolvereference(base::Union{URI,AbstractString}, ref::Union{URI,AbstractString}) -> URI

Resolve a URI reference ref relative to the absolute base URI base, complying with RFC 3986 Section 5.2.

If ref is an absolute URI, return ref unchanged.

Examples

julia> u = resolvereference("http://example.org/foo/bar/", "/baz/")
URI("http://example.org/baz/")

julia> resolvereference(u, "./hello/world")
URI("http://example.org/baz/hello/world")

julia> resolvereference(u, "http://localhost:8000")
URI("http://localhost:8000")
```

It even handles `..`.